{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Collection</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Home.css'%}">
    
</head>
<body>
   
      
      <!-- Sidebar for larger screens -->
      <div class="sidebar d-none d-lg-block">
        <img class="img" src="{% static 'assets/AAZP_logo.png' %}" alt="zoo logo" style="padding-left: 50px;">
        <br><br><br>
        <a href="home2" class="text-center">Ticket Collection</a>
        <a href="/" class="logout customb">Logout</a>
      </div>
      
            <!-- Main Content -->
            <main class="col-md-12 ml-sm-auto col-lg-10 px-4 content">
                
            </main>
        </div>
    </div>
</div>
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

