
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Report</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Home.css'%}">
    
</head>
<body>
  <div class="sidebar d-none d-lg-block">
    <img class="img" src="{% static 'assets/AAZP_logo.png' %}" alt="zoo logo" style="padding-left: 50px;">
    <br><br><br>
    <a href="ticket_sales_summary" class="text-center">Detailed Report</a>
    <a href="collection_report" class="text-center">Collection Report</a>
    <a href="logout" class="text-center" style="position: absolute; bottom: 20px; width: 80%; color: red;">Logout</a>
  </div>
  <main class="col-md-12 ml-sm-auto col-lg-10 px-4 content">
    <div class="row align-items-center">
      <div class="col-12 d-flex justify-content-between align-items-center">
          <img
              src="{% static 'assets/tn_logo.png' %}"
              class="img-fluid d-none d-md-block"
              alt="Left Logo for larger screens"
              style="max-height: 50px; width: auto;"
          />
          <img
              src="{% static 'assets/AAZP_logo.png' %}"
              class="img-fluid d-block d-md-none"
              alt="Left Logo for smaller screens"
              style="max-height: 50px; width: auto;"
          />
          <img
              src="{% static 'assets/unnamed.png' %}"
              class="img-fluid d-none d-md-block"
              alt="Right Logo for larger screens"
              style="max-height: 50px; width: auto;"
          />
          <img
              src="{% static 'assets/image.png' %}"
              class="img-fluid d-block d-md-none"
              alt="Right Logo for smaller screens"
              style="max-height: 50px; width: auto;"
          />
      </div>

  </div>

    
            <hr style="border-top: 2px solid #a7a7a7;">

        <div class="row">
          <div class="col-md-4"><h2 class="mt-3">Detailed Report</h2></div>
          <div class="col-md-4">
            <form method="GET" action="collection_report" class="mb-3">
              <label for="filter">Filter by Date:</label>
              <select name="filter" id="filter" class="form-select" onchange="this.form.submit()" style="height: 35px; border-radius: 10px; text-align: center; background-color: #eaf7ea;">
                <option value="">All</option>
                  <option value="today" {% if request.GET.filter == 'today' %}selected{% endif %}>Today</option>
                  <option value="yesterday" {% if request.GET.filter == 'yesterday' %}selected{% endif %}>Yesterday</option>
                  <option value="day_before_yesterday" {% if request.GET.filter == 'day_before_yesterday' %}selected{% endif %}>Day Before Yesterday</option>
              </select>
          </form>
          </div>
          <div class="col-md-4 d-flex justify-content-end" style="height: 55px;">
              <a href="export_ticket_data?filter={{ request.GET.filter }}" class="btn btn-success mt-3">Download as Excel</a>
          </div>
        
        </div>

      <!-- Table -->
      <div class="table-responsive" style="max-height: 700px; overflow-y: auto;">
        <table class="table table-group-divider table-hover" style="border: 1px solid #eaf7ea; border-radius: 20px;">
          <thead class="header" style="background-color: #eaf7ea; position: sticky; top: 0; z-index: 1;">
                    <tr>
                        <th>Date</th>
                        <th>Adult</th>
                        <th>Children</th>
                        <th>Student</th>
                        <th>Total_amount</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Ticket in collection_report %}
                        <tr>
                            <td>{{Ticket.created_at}}</td>
                            <td>{{Ticket.adult_count}}</td>
                            <td>{{Ticket.children_count}}</td>
                            <td>{{Ticket.student_count}}</td>
                            <td>{{Ticket.total_amount}}</td>
                            <td>{{Ticket.payment_type}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
      </div>
    </div>
      
    </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
